<div class="col-sm-6 col-sm-offset-3" id="user_index">
  <h1>Index list of all users</h1>
  <% @users.each do |user| %>
    <div id="u_index_each">
      <p><%= user.email %></p>
      <% if current_user == nil %>
        <p></p>
       <% elsif user == current_user || is_admin %>
        <p><%= link_to "Show", user, :class => "link" %> <%= link_to "Edit", edit_user_path(user), :class => "link" %> <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link" %></p>
      <% end %>
    </div>
  <% end %>
</div>
