
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'DOTMBold';
    src: url('DOTMBold.TTF');
    src: url('DOTMBold.TTF') format('truetype');
}


body {
  background: url("http://www.corvallisadvocate.com/wp-content/uploads/2013/02/Pinball-photos-025.jpg") no-repeat center center fixed;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header {
  color: black;
  background-color: rgba(224,224,224,1);
  width: auto;
  padding: 2px;
}

#mini_classifieds {
  background-color: rgba(224,224,224,.8);
  max-width: 300px;
  border-radius: 5px;
  padding-bottom: 15px;
}

.short_classified {
  background-color: rgba(224,224,224,1);;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

#news {
  background-color: rgba(224,224,224,.8);;
  max-width: 500px;
  border-radius: 5px;
  padding-bottom: 15px;
}

#article {
  background-color: rgba(224,224,224,1);;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

#classified_index {
  background-color: rgba(224,224,224,.8);;
  border-radius: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 50px;
  margin-top: 80px;
}

#c_index_each {
  background-color: rgba(224,224,224,1);;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

.link {
  color: navy;
}

.top-buffer { margin-top:70px; }

.group_title {
  text-align: center;
}

.edit {
  background-color: rgba(224,224,224,1);
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
}

.pic {
  margin-left: 10px;
  box-shadow: 5px 5px 5px #888888;
}

#login {
  display: inline;
}


header > ul:nth-child(1) > li:nth-child(1) > a:nth-child(1):hover {
  background-color: rgba(224,224,224,1);
  color: black;
  text-decoration: none;
  cursor: default;
}

.welcome {
  color: black;
}


.form-control {
  margin-bottom: 2px;
}

.window {
  margin: auto;
  text-align: center;
  background-color: rgba(224,224,224,.8);;
  border-radius: 5px;
  margin-top: 150px;
  max-width: 250px;
  height: auto;
  padding: 10px;
}

.log {
  display: block;
}

.session {
  background-color: rgba(224,224,224,1);;
  border: 1px solid black;
  border-radius: 3px;
  padding-bottom: 10px;
  margin: 5px;
}

.home {
  font-family: "DOTMBold", 'Oswald', sans-serif;
  font-size: 50px;
  color: red;
  background-color: black;
}

.logins {
  display: inline;
}


///// code graveyard //////


// .right-to-left {
//   float: right;
// }



// @media (max-width: 767px) {
//   .right-to-left {
//     @extend .pull-left;
//   }
// }


